@use "element-plus/dist/index.css";

* {
    font-family: "Ubuntu", "Roboto", "Open Sans", sans-serif;
}

html,
body,
#__nuxt {
    height: 100%;
    margin: 0;
    padding: 0;
}

a {
    font-weight: 400;
    color: var(--el-color-primary);
}
