@import "~bulma/sass/utilities/_all.sass";

$primary: #990000;
$primary-invert: findColorInvert($primary);

$secondary: #990000;
$secondary-invert: findColorInvert($secondary);

$highlight: darken($color: $primary, $amount: 5);
$highlight-invert: findColorInvert($highlight);

$accent: #990000;
$accent-invert: findColorInvert($accent);

$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);

$text: #21252B;
$background: #fcfcfc;

.button.is-primary {
    color: white !important;
}

$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    "twitter": ($twitter, $twitter-invert)
);

$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

@import "~bulma";
@import "~buefy/src/scss/buefy";
